<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.digischool.wrts"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
 	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Wrts">
        <activity
            android:name=".activities.OverviewActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FirstLoginActivity"
            android:label="@string/app_name"
        />
        <activity
            android:name=".activities.WebActivity"
            android:label="@string/app_name"
            />
        <meta-data android:name="com.crashlytics.ApiKey" android:value="a1e31c00b3a224cf9d856f1e4c1af8ddba4756f0"/>
    </application>

</manifest>